* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.one {
    height: 344px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 77px;
    /* padding-left: 249px; */
}

h1 {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    text-align: center;
    color: #48555b;
    padding-top: 57px;
}

h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #48555b;
    letter-spacing: 0.01em;
}

span {
    color: #16ace8;
    letter-spacing: 0.01em;
}

p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
}




.capibilities{
    margin-top: 118px;
}
.capibilities .container{
    margin: 0 auto;
    width: 1140px;
}
.cap-top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 76px;
}
.capibilities .cap-top .cap-top-our h3{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    color: #48555b;
    margin-bottom: 10px;
}

.capibilities .cap-top p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.02em;
    color: #48555b;
    margin-left: 200px;
    margin-right: 55px;
}

.capibilities .cap-top button{
    padding: 11px 29px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background: #00a4e5;
    border: none;
    cursor: pointer;
}

.capibilities .cap-top .cap-top-our .line{
    width: 50px;
    height: 2px;
    background: #00A4E5;
}



.cap-bottom{
    width: 940;
    display: flex;
    column-gap: 27px;
    justify-content: center;
    margin-bottom: 100px;
}
.list-one{
    border: 1px solid #e6e6e6;
    width: 300px;
    height: 330px;
    padding: 38px 20px;
}
.list-one p{
    width: 250px;
}
.list-one img{
    margin-bottom: 25px;
}
.list-one h3{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #48555b;
    margin-bottom: 13px;
}
 

.two {
    padding-top: 30px;
}


/* .first {
    padding-top: 92px;
} */

.foto {
    display: flex;
    gap: 20px;
}

.img {
    width: 140px;
    height: 224px;
}

.strok {
    stroke-width: 2px;
    stroke: #00a4e5;
    display: flex;
    align-items: center;
}

.width {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 11px;
}
