* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.one {
    width: 941px;
    height: 344px;
}

h1 {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    text-align: center;
    color: #48555b;
}

h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #48555b;
    letter-spacing: 0.01em;
}

span {
    color: #16ace8;
    letter-spacing: 0.01em;
}

p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
}